<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
   <!--
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="name.niu.guitar.uisut.presentation.UisutModelWizardID"
            name="%_UI_UisutModelWizard_label"
            class="name.niu.guitar.uisut.presentation.UisutModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UisutModelFile.gif">
         <description>%_UI_UisutModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      -->
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="name.niu.guitar.uisut.presentation.UisutEditorID"
            name="%_UI_UisutEditor_label"
            icon="icons/full/obj16/UisutModelFile.gif"
            extensions="uisut"
            class="name.niu.guitar.uisut.presentation.UisutEditor"
            contributorClass="name.niu.guitar.uisut.presentation.UISUTMultipageActionBarContributor">
      </editor>
   </extension>
   
    <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <!--override definition in diagram-->
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="UisutPresentation">
         <Priority name="Low"/>
         <ViewId id="name.niu.guitar.uisut.presentation.UisutEditorIDEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="UisutRender">
         <Priority name="Low"/>
         <ViewId id="name.niu.guitar.uisut.presentation.UisutEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

</plugin>
