<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="name.niu.guitar.ui.cmd.CMD_GEN_OFFLINE"
            name="Generate Test Case Offline">
      </command>
      <command
            id="name.niu.guitar.ui.cmd.CMD_GEN_ONLINE"
            name="Generate Test Case Online">
      </command>
      <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo1"
            name="demo1">
      </command>
      <command
      		defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo2"
            name="demo2">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo3"
            name="demo3">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo4"
            name="demo4">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo5"
            name="demo5">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo6"
            name="demo6">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo7"
            name="demo7">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo8"
            name="demo8">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo9"
            name="demo9">
      </command>
            <command
            defaultHandler="name.niu.guitar.ui.handlers.DemoHandler"
            id="name.niu.guitar.ui.commands.demo10"
            name="demo10">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="name.niu.guitar.ui.guitarMainMenu"
               label="Guitar">

		<separator
               name="separator1"
               visible="false">
         </separator>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <separator
               name="separator3"
               visible="true">
         </separator>
            <command
                  commandId="name.niu.guitar.ui.cmd.CMD_GEN_OFFLINE"
                  label="Generate Test Case Offline"
                  style="push">
            </command>
            <command
                  commandId="name.niu.guitar.ui.cmd.CMD_GEN_ONLINE"
                  label="Generate Test Case Online"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="name.niu.guitar.ui.demo"
               label="Demo">
            <separator
                  name="separator1"
                  visible="false">
            </separator>
            <command
                  commandId="name.niu.guitar.ui.commands.demo1"
                  label="demo1"
                  style="push">
            </command>
            <command
                  commandId="name.niu.guitar.ui.commands.demo2"
                  label="demo2"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo3"
                  label="demo3"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo4"
                  label="demo4"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo5"
                  label="demo5"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo6"
                  label="demo6"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo7"
                  label="demo7"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo8"
                  label="demo8"
                  style="push">
            </command>
                        <command
                  commandId="name.niu.guitar.ui.commands.demo9"
                  label="demo9"
                  style="push">
            </command>
                        <command
                              commandId="name.niu.guitar.ui.commands.demo10"
                              label="demo10"
                              style="push">
                        </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="name.niu.guitar.ui.handlers.TCgenOfflineAction"
            commandId="name.niu.guitar.ui.cmd.CMD_GEN_OFFLINE">
      </handler>
      <handler
            class="name.niu.guitar.ui.handlers.TCgenOnlineAction"
            commandId="name.niu.guitar.ui.cmd.CMD_GEN_ONLINE">
      </handler>
   </extension>

   <extension
         id="ProductGuitar"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Guitar Application">
         <property
               name="appName"
               value="Guitar Application">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="name.niu.guitar.ui.wizards.guitarCategroy"
            name="Guitar">
      </category>
      <wizard
            category="name.niu.guitar.ui.wizards.guitarCategroy"
            class="name.niu.guitar.ui.wizards.NewGuitarProjectWizard"
            icon="icons/guitar-plus-16.png"
            id="name.niu.guitar.ui.wizards.NewGuitarProject"
            name="New Guitar Project"
            project="true">
         <description>
            Create a Guita Project...
         </description>
      </wizard>
         
      
  	  <wizard
  	     name="New UISUT Diagram"
  	     icon="icons/obj16/uisutDiagramFile.gif"
  	     category="name.niu.guitar.ui.wizards.guitarCategroy"
  	     class="name.niu.guitar.ui.wizards.UISUTCreationWizard"
  	     id="name.niu.guita.ui.wizards.NewUISUTDiagramWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>

   </extension>

</plugin>
