<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="validate the model"
            id="name.niu.guita.uisut.validation.CMD_Validate"
            name="validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="name.niu.guita.uisut.validation.ui.toolbar_Validate"
               label="Validate(lll)">
            <command
                  commandId="name.niu.guita.uisut.validation.CMD_Validate"
                  label="X_Vali"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Validate(lll)">
            <command
                  commandId="name.niu.guita.uisut.validation.CMD_Validate"
                  label="X_menuVali"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="name.niu.guita.uisut.validation.editorContribution"
            targetID="name.niu.guita.uisut.diagram.part.UISUTDiagramEditorID">
         <action
               class="name.niu.guita.uisut.validation.actions.BatchValidationDelegate"
               definitionId="name.niu.guita.uisut.validation.CMD_Validate"
               id="name.niu.guita.uisut.validation.ACTION_validation"
               label="XR_V1"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.niu.name/guita/uisut/1.0">
         </package>
         <constraints>
            <constraint
                  class="name.niu.guita.uisut.validation.constraints.NonEmptyNamesConstraint"
                  id="name.niu.guita.uisut.validation.ui.NameNotEmpty"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="NonEmptyName"
                  severity="ERROR"
                  statusCode="1">
               <description>
                  All items in an EXT library model should have some unique identifier or name.
               </description>
               <message>
                  A {0} has been found to have no unique identifier (name or title).                  
               </message>
               <target class="UIState"/>
               <target class="UIStatemachine"/>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
     <clientContext
            default="false"
            id="name.niu.guita.uisut.validation.stmContext">
         <selector class="name.niu.guita.uisut.validation.constraints.ValidationDelegateClientSelector"/>
      </clientContext>
     <binding
           context="name.niu.guita.uisut.validation.stmContext"
           constraint="name.niu.guita.uisut.validation.ui.NameNotEmpty">
     </binding>
   </extension>

</plugin>
