<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS"
          name="&amp;Gen Excel" >
            
      </command>
      <command
            id="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS_FROM_FILE"
            name="Gen Excel From File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="&amp;Guita_GenXLSCase">
            <command
                  commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS"
                  style="push">
            </command>
            <command
                  commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS_FROM_FILE"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="name.niu.guita.uitf.xlsgen.actionSet"
            label="Generate"
            visible="true">
         <menu
               id="another_xls_gen_menu"
               label="XLSG">
            <separator
                  name="a_group">
            </separator>
         </menu>
         <action
               class="name.niu.guita.uitf.xlsgen.actions.SampleAction"
               icon="icons/sample.gif"
               id="name.niu.guita.uitf.xlsgen.actions.SampleAction"
               label="GenIttion"
               menubarPath="another_xls_gen_menu/a_group"
               toolbarPath="some_toolbar"
               tooltip="generate xls!">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="name.niu.guita.uitf.xlsgen.actions.ExportExcelAction"
            commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS">
      </handler>
      <handler
            class="name.niu.guita.uitf.xlsgen.actions.ExportExcelFromFileAction"
            commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS_FROM_FILE">
      </handler>
   </extension>

</plugin>
