<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS_FROM_FILE"
            name="Gen Excel From File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:name.niu.guita.guitaMainMenu?after=separator3">
         <command
               commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS_FROM_FILE"
               label="Generate Test Case Document"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="name.niu.guita.uitf.xlsgen.actions.ExportExcelFromFileAction"
            commandId="name.niu.guita.uitf.xlsgen.CMD_GEN_XLS_FROM_FILE">
      </handler>
   </extension>

</plugin>
