<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      id="id1"
      point="org.eclipse.core.runtime.applications">
   <application
         cardinality="singleton-global"
         thread="main"
         visible="true">
      <run
            class="name.niu.guita.Application">
      </run>
   </application>
</extension>
<extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id = "name.niu.guita.guitaCategory"
	   name="Guita">
	</category>
 	<wizard
        category="name.niu.guita.guitaCategory"
        class="name.niu.guita.wizards.GuitaProjectNewWizard"
        icon="icons/guitar.bmp"
        id="name.niu.guita.guitaProject"
        name="Guita  Project"
        project="true">
    	   <description>Create a Guita Project...</description>
	</wizard>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="name.niu.guita.Perspective"
         id="name.niu.guita.guitaPerspective1"
         name="UISUT Edit Perspective">
   </perspective>
   <perspective
         class="name.niu.guita.Perspective2"
         id="name.niu.guita.guitaPerspective2"
         name="UISUT Edit Perspective2">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         allowMultiple="false"
         class="org.eclipse.ui.navigator.CommonNavigator"
         icon="icons/guitar.bmp"
         id="name.niu.guita.guitaNavigatorView"
         name="Guita Navigator View"
         restorable="true">
   </view>
</extension>
<extension
      point="org.eclipse.ui.navigator.viewer">
   <viewer
         viewerId="name.niu.guita.guitaNavigatorView">
   </viewer>
   <viewerContentBinding
         viewerId="name.niu.guita.guitaNavigatorView">
      <includes>
         <contentExtension
               pattern="org.eclipse.ui.navigator.resourceContent">
         </contentExtension>
         <contentExtension
               pattern="org.eclipse.ui.navigator.resources.filters.*">
         </contentExtension>
         <contentExtension
               pattern="name.niu.guita.guitaPropertiesContent">
         </contentExtension></includes>
   </viewerContentBinding>
   <viewerActionBinding
         viewerId="name.niu.guita.guitaNavigatorView">
      <includes>
         <actionExtension
               pattern="org.eclipse.ui.navigator.resources.*">
         </actionExtension>
      </includes>
   </viewerActionBinding>
</extension>
<extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <navigatorContent
         activeByDefault="true"
         contentProvider="name.niu.guita.properties.PropertiesContentProvider"
         icon="icons/prop_ps.gif"
         id="name.niu.guita.guitaPropertiesContent"
         labelProvider="name.niu.guita.properties.PropertiesLabelProvider"
         name="Guita Properties Content"
         priority="normal">
      <triggerPoints>
         <or>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="properties">
               </test>
            </and>
            <instanceof
                  value="name.niu.guita.properties.PropertiesTreeData">
            </instanceof>
         </or>
      </triggerPoints>
      <possibleChildren>
         <or>
            <instanceof
                  value="name.niu.guita.properties.PropertiesTreeData">
            </instanceof>
         </or>
      </possibleChildren>
   </navigatorContent>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      <menu
            id="name.niu.guita.guitaMainMenu"
            label="Guita">
         <separator
               name="separator1"
               visible="false">
         </separator>
         <separator
               name="separator2"
               visible="true">
         </separator>
         <separator
               name="separator3"
               visible="true">
         </separator>
      </menu>
   </menuContribution>
</extension>

</plugin>
